# 🚀 Ignorar dependencias en Angular y Symfony
voxCorp-frontend/node_modules/

voxCorpApi/.env.local
voxCorpApi/.env.local.php
voxCorpApi/.env.*.local
voxCorpApi/config/secrets/prod/prod.decrypt.private.php
voxCorpApi/public/bundles/
voxCorpApi/var/
voxCorpApi/vendor/